.App {
  text-align: center;
}


h1{
  color: skyblue;
  background-color: peachpuff;
}

footer {
  text-align: center;
  color: skyblue;
}

.navbar{
  margin-bottom: 25px;
  padding: 5px;
  border: 1px black solid;
}

.h2{
  color: goldenrod;
}

.HomepageContent{
  padding: 130px;
  border: 3px black dashed;
  
}

.NotFoundDiv{
  background-color: peachpuff;
  padding: 20px;
}

.createblog{
  color: skyblue;
  background-color: peachpuff;
}


.links {
  text-decoration: none;
  margin-bottom: 25px;
  padding: 15px;
  background-color: peachpuff;
  font-weight: 400;
}

.links a {
  border-radius: 8px;
  margin: 5px;
  border: 2px white solid;
  background-color: white;
  padding: 5px;
  text-decoration: none;
}

#testControl {
  width: 100%;
  padding: 50px 0;
  text-align: center;
  background-color: lightblue;
  margin-top: 20px;
}